Repository voxpupuli/puppet-hdm, pull requests merged in 2023-02, with the labels that each got.

#38 workaround "sensitive in hash"
  REFERENCE.md
  manifests/docker.pp
  manifests/init.pp
  manifests/rvm.pp
  templates/hdm.yml.epp
  types/ldap_settings.pp
Labels: bug

#39 Update Gems + CI config
  .github/workflows/ci.yml
  .gitignore
  Gemfile
  REFERENCE.md
  spec/spec_helper.rb
Labels: enhancement

#41 Release 2.1.2
  metadata.json
Labels: skip-changelog

#48 puppet-lint: validate docs and datatypes
  .puppet-lint.rc
  .sync.yml
Labels: enhancement

#46 Release 2.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#50 Release 2.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#51 README.md: fix transfer notice
  README.md
Labels: skip-changelog
